apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: deploy-teste
  name: nginx-teste-replica-deployment
spec:
  replicas: 6
  selector:
    matchLabels:
      app: deploy-teste
  strategy: {}
  template:
    metadata:
      labels:
        app: deploy-teste
    spec:
      containers:
      - image: nginx:1.19.0
        name: nginx
        resources:
          limits:
            cpu: "0.5"
            memory: "256Mi"
          requests:
            cpu: "0.25"
            memory: "128Mi"

