apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-deployment-rollingupdate
  name: nginx-deployment-rollingupdate
spec:
  replicas: 10
  selector:
    matchLabels:
      app: nginx-deployment-rollingupdate
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 2
  template:
    metadata:
      labels:
        app: nginx-deployment-rollingupdate
    spec:
      containers:
      - image: nginx:1.16.0
        name: nginx
        resources:
          limits:
            cpu: "0.5"
            memory: 256Mi
          requests:
            cpu: "0.25"
            memory: 128Mi

  
